<form method="post" action = "/pirates">
    <label>Pirate Name:</label> <input type="text" name="pirate[name]">
  <label>Pirate Height:</label> <input type="text" name="pirate[height]">
  <label>Pirate Weight:</label> <input type="text" name="pirate[weight]">
  <label>Ship 1 Name:</label> <input type="text" name="pirate[ships][][name]">
  <label>Ship 1 Type:</label> <input type="text" name="pirate[ships][][type]">
  <label>Ship 1 Booty:</label> <input type="text" name="pirate[ships][][booty]">
  <label>Ship 2 Name:</label> <input type="text" name="pirate[ships][][name]">
  <label>Ship 2 Type:</label> <input type="text" name="pirate[ships][][type]">
  <label>Ship 2 Booty:</label> <input type="text" name="pirate[ships][][booty]">
  <input type="submit">
</form>
