<form method="post" action = "/pirates">
    <label>Pirate Name:</label> <input type="text" name="pirate[name]">
  <label>Pirate Height:</label> <input type="text" name="pirate[height]">
  <label>Pirate Weight:</label> <input type="text" name="pirate[weight]">
  <label>Ship 1 Name:</label> <input type="text" id="ship_name_1" name="pirate[ships][][name]">
  <label>Ship 1 Type:</label> <input type="text" id="ship_type_1" name="pirate[ships][][type]">
  <label>Ship 1 Booty:</label> <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">
  <label>Ship 2 Name:</label> <input type="text"id="ship_name_2" name="pirate[ships][][name]">
  <label>Ship 2 Type:</label> <input type="text" id="ship_type_2" name="pirate[ships][][type]">
  <label>Ship 2 Booty:</label> <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
  <input type="submit" id="Submit">
</form>
